
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 25%;
    background-color: #000;
    width: 93%;
    padding-left: 63px;
    padding-right: 40px;
    transition: top 0.3s ease-in-out;
}
.dropdown{
    width:200px
}
.rightContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}